/* Import Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Wildcard slector to override browser default styles  */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Need to confirm text colour */
    font-family: 'Montserrat', sans-serif;
}

section {
    padding: 20px;
    }

p {
    line-height: 1.8em;
    font-weight: 600;    
}

section p {
    font-size: 80%;
    padding: 10px 0 10px 0;

}

/* Header */
header {
    background-color: #ffffff;
    padding: .75rem;
    position: fixed;
    z-index: 99;
    width: 100%;
}

header a {
    text-decoration: none;
    color: inherit;
}

#logo-wrapper {
    font-size: 70%;
    text-align: center;
    padding: 0 0 .75rem;
}

#slogan-wrapper {
    font-size: 72%;
    font-weight: 600;
    text-align: center;
    padding: 0 0 .75rem;
}

#nav-menu {
    font-size: 72%;
    font-weight: 600;
    display: flex;
    justify-content: space-evenly;

}

.active {
    border-bottom: 1px solid;
}

/* Main content */
main {
    /* Ensure main content takes up any surplus space to push footer down */
    flex: 1 0 auto;
    margin-top: 111.73px;
    /* NOTE Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
}

/* Hero section */
#hero {
    height: 150px;
    width: 100%;
    background: url("../images/hero-image-m.webp") no-repeat center center/cover;
}

/* Intro section */
#intro {

}

#intro-1 {

}

img {
    height: 70%;
    width: 70%;    
}

.image-div {
    text-align: center;
}

#spaceship-interior {

}

#intro-2 {
    
}
/* Footer */
footer {
    background-color: #ffffff;
    padding: .75rem;
    
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 10px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 120%;
    padding: 5%;
    color: #000000;
}

/* Company contact */
#contact {
    padding: .5rem 0;
    font-size: 72%;
    font-weight: 600;
}

#company-info {
    padding: .5rem 0;
    font-size: 72%;
    font-weight: 600;
}

#copyright {
    padding: .5rem 0;
    font-size: 72%;
    font-weight: 600;
}
/* Media Queries */

/* Tablets and larger (768px and higher) */
@media screen and (min-width: 768px) {

/* Header */
    #logo-wrapper {
        font-size: 100%;
        text-align: center;
        padding: 0 0 .75rem;
    }

    #slogan-wrapper {
        font-size: 100%;
        font-weight: 600;
        text-align: center;
        padding: 0 0 .75rem;
    }

    #nav-menu {
        font-size: 100%;
        font-weight: 600;
        display: flex;
        justify-content: space-evenly;
    }

/* Main content */
    main {
        margin-top: 135.8px;
    }

/* Hero section */
    #hero {
        height: 250px;
    }

/* NOTE Need to adjust all section elements for tablets and larger screens */
/* Footer */
    #social-networks i {
        font-size: 140%;
    }

}

/* Large devices (laptops and desktops 992px and higher) */
@media screen and (min-width: 992px) {

/* Header */
#nav-menu a:hover {
    border-bottom: 1px solid;
}

/* Hero section */
#hero {
    height: 560px;
}
/* NOTE - need to adjust navigation text width for large devices */
}
    